
        <header  class = "flex-row flex-space-between">
            <div id="logo" class = "flex-row">
                <img id = "logo-image" src = "/images/Logo.png"> 
            </div>
            <nav class = "flex-align-center">
                <ul id = "nav-items" class = "flex-row" style="list-style: none;">
                    <li><a href = "#test">LOJA</a></li>
                    <li><a href = "#test">NOVIDADES</a></li>
                    <li><a href = "#test">SALE</a></li>
                    <li><a href = "#test">QUEM SOMOS</a></li>
                </ul>
            </nav>
            <div id = "link-icons" class = "flex-align-center">
                <a href = "#test"><img id = "search-icon" class = "header-icon" src = "/images/Search-Icon.png"></a>
                <a href = "#test"><img id = "telephone-icon" class = "header-icon" src = "/images/Telephone-Icon.png"></a>
                <a href = "#test"><img id = "user-icon" class = "header-icon" src = "/images/User-Icon.png"></a>
                <a href = "#test"><img id = "cart-icon" class = "header-icon" src = "/images/Cart-Icon.png"></a>
            </div>
        </header>
