<footer >
    <section id = "newsletter" class = "flex-row flex-space-between flex-align-end">
        <div id = "newsletter-texts">
            <h3>Newsletter</h3>
            <h2>Cadastre-se na nossa newsletter</h2>
            <h4>Cadastre-se e ganhe 5%OFF em sua primeira compra</h4>
        </div>
        <div id = "newsletter-inputs" class = "flex-row flex-space-between">
            <input id = "newsletter-name" name = "newsletter-name" type="text" placeholder="Nome" class = "newsletter-input">
            <input id = "newsletter-email" name = "newsletter-email" type="text" placeholder="E-mail" class = "newsletter-input">
            <button type = "submit" id = "newsletter-subscription" class = "newsletter-input">Enviar</button>
        </div>
    </section>
    <section id = "info-social-media" class = "flex-row flex-space-between border-bottom-grey">
        <section id = "info-lists" class = "flex-row flex-space-between">
            <div class = "info-list">
                <ul>
                    <li class ="text-bold"><a href = "Masculino">Masculino</a></li>
                    <li><a href = "Camisetas">Camisetas</a></li>
                    <li><a href = "Acessórios">Acessórios</a></li>
                    <li><a href = "Camisas">Camisas</a></li>
                    <li><a href = "Bermudas">Bermudas</a></li>
                    <li><a href = "Casacos">Casacos</a></li>
                    <li><a href = "Calças">Calças</a></li>
                </ul>
            </div>
            <div class = "info-list">
                <ul>
                    <li class ="text-bold"><a href = "Explore">Explore</a></li>
                    <li><a href = "Novidades">Novidades</a></li>
                    <li><a href = "Magazine">Magazine</a></li>
                </ul>
            </div>
            <div class = "info-list">
                <ul>
                    <li class ="text-bold"><a href = "Institucional">Institucional</a></li>
                    <li><a href = "Sobre Loja">Sobre Loja</a></li>
                    <li><a href = "Duvidas Frequentes">Dúvidas Frequentes</a></li>
                    <li><a href = "Termos e Condições">Termos e Condições</a></li>
                    <li><a href = "F.A.Q.">F.A.Q.</a></li>
                </ul>
            </div>
        </section>
        <section id = "social-media-icons">
            <img src = "/Images/Social-Media-Icons.png" alt="icone redes sociais">
        </section>  
    </section>
    <section id = "rights-infos"  class = "flex-row flex-space-between">
        <h4>2022 Digital House. All rights reserved | CNPJ: 28.442.188/0001-47</h4>
        <img id = "locker-icon" src = "/Images/Locker-icon.png" alt="icone segurança">
    </section>  
</footer>
</body>
</html>
