
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Lato&family=Ropa+Sans&display=swap');
        </style>
        <link href="/stylesheets/reset/reset.css" rel = "stylesheet">
        <link href="/stylesheets/general/styles.css" rel = "stylesheet">
        <title>E-commerce do grupo 3 do curso de programação da Digital House</title>
