<!DOCTYPE html>
<html lang="pt-br">
    <head>
<%- include("./partials/header") %>
<link href="/stylesheets/products/product.css" rel = "stylesheet">
</head>

    <body>
        <%- include("./partials/cabecalho") %>

        <main>

        </main>
        
        <%- include("./partials/footer") %>