<!DOCTYPE html>
<html lang="pt-br">
    <head>
<%- include("./partials/header") %>
<link href="/stylesheets/orders/orders.css" rel = "stylesheet">
</head>

    <body>
        <%- include("./partials/cabecalho") %>

        <main>
            <h3>Histórico de Pedidos</h3>
            <section id = "order-list">
                <div class = "order-line flex-row flex-space-between">
                    <div class = "order-headline">
                        <h3><strong>Pedido</strong></h3>
                        <div class = "order-name-image flex-row flex-space-between">
                            <img class = "product-image" alt = "imagem do produto" src="/images/Product-image.PNG">
                            <h3>Id de ordem: #0001</h3>
                        </div>
                    </div>
                    <div class = "item-headline">
                        <h3><strong>Frete</strong></h3>
                        <h4>R$ 9,99</h4>
                    </div>
                    <div class = "item-headline">
                        <h3><strong>Preço</strong></h3>
                        <h4>R$ 98,00</h4>
                    </div>
                    <div class = "item-headline">
                        <h3><strong>Número de itens</strong></h3>
                        <div class = "quantity">
                            <h4>1</h4>
                        </div>
                    </div>
                    <div class = "item-headline">
                        <h3><strong>Preço Total</strong></h3>
                        <h4>R$ 98,00</h4>
                    </div>
                </div>
                <div class = "order-line flex-row flex-space-between">
                    <div class = "order-headline">
                        <h3><strong>Pedido</strong></h3>
                        <div class =  "order-name-image flex-row flex-space-between">
                            <img class = "product-image" alt = "imagem do produto" src="/images/Product-Image-2.PNG">
                            <h3>Id de ordem: #0002</h3>
                        </div>
                    </div>
                    <div class = "item-headline">
                        <h3><strong>Frete</strong></h3>
                        <h4>R$ 9,99</h4>
                    </div>
                    <div class = "item-headline">
                        <h3><strong>Preço</strong></h3>
                        <h4>R$ 98,00</h4>
                    </div>
                    <div class = "item-headline">
                        <h3><strong>Número de itens</strong></h3>
                        <div class = "quantity">
                            <h4>1</h4>
                        </div>
                    </div>
                    <div class = "item-headline">
                        <h3><strong>Preço Total</strong></h3>
                        <h4>R$ 98,00</h4>
                    </div>
                </div>
            </section>
            <section id = "order-buttons" class = "flex-row flex-space-between">
                <button type = "submit" id = "keep-buying" class = "order-button">Ir à Loja</button>
            </section>
        </main>

        <%- include("./partials/footer") %>