
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Lato&family=Ropa+Sans&display=swap');
        </style>
        <link href="/Public/reset.css" rel = "stylesheet">
        <link href="/Public/styles.css" rel = "stylesheet">
        <link href="/Public/success.css" rel = "stylesheet">
        <title>E-commerce do grupo 3 do curso de programação da Digital House</title>
    </head>
    <body>
        <header  class = "flex-row flex-space-between">
            <div id="logo" class = "flex-row">
                <img id = "logo-image" src = "Public/Images/Logo.png"> 
            </div>
            <nav class = "flex-align-center">
                <ul id = "nav-items" class = "flex-row" style="list-style: none;">
                    <li><a href = "#test">LOJA</a></li>
                    <li><a href = "#test">NOVIDADES</a></li>
                    <li><a href = "#test">SALE</a></li>
                    <li><a href = "#test">QUEM SOMOS</a></li>
                </ul>
            </nav>
            <div id = "link-icons" class = "flex-align-center">
                <a href = "#test"><img id = "search-icon" class = "header-icon" src = "Public/Images/Search-Icon.png"></a>
                <a href = "#test"><img id = "telephone-icon" class = "header-icon" src = "Public/Images/Telephone-Icon.png"></a>
                <a href = "#test"><img id = "user-icon" class = "header-icon" src = "Public/Images/User-Icon.png"></a>
                <a href = "#test"><img id = "cart-icon" class = "header-icon" src = "Public/Images/Cart-Icon.png"></a>
            </div>
        </header>
        <main>
            <h2>Confirmação de Pagamento</h2>
            <section id = "order-list">
                <div class = "order-line flex-row flex-space-between">
                    <div class = "order-headline">
                        <h3><strong>Pedido</strong></h3>
                        <div class = "order-name-image flex-row flex-space-between">
                            <h3>#0000010</h3>
                        </div>
                    </div>
                    <div class = "item-headline">
                        <h3><strong>Produto</strong></h3>
                        <h4>Camiseta Preta Básica de Algodão</h4>
                    </div>
                    <div class = "item-headline">
                        <h3><strong>Frete</strong></h3>
                        <h4>R$ 9,99</h4>
                    </div>
                    <div class = "item-headline">
                        <h3><strong>Preço</strong></h3>
                        <h4>R$ 98,00</h4>
                    </div>
                    <div class = "item-headline">
                        <h3><strong>Número de itens</strong></h3>
                        <div class = "quantity">
                            <h4>1</h4>
                        </div>
                    </div>
                    <div class = "item-headline">
                        <h3><strong>Preço Total</strong></h3>
                        <h4>R$ 98,00</h4>
                    </div>
                </div>
            </section>
            <section id = "order-buttons" class = "flex-row flex-space-between">
                <h2>Parabéns pela sua compra :)</h2>
            </section>
        </main>
        <footer >
            <section id = "newsletter" class = "flex-row flex-space-between flex-align-end">
                <div id = "newsletter-texts">
                    <h3>Newsletter</h3>
                    <h2>Cadastre-se na nossa newsletter</h2>
                    <h4>Cadastre-se e ganhe 5%OFF em sua primeira compra</h4>
                </div>
                <div id = "newsletter-inputs" class = "flex-row flex-space-between">
                    <input id = "newsletter-name" name = "newsletter-name" type="text" placeholder="Nome" class = "newsletter-input">
                    <input id = "newsletter-email" name = "newsletter-email" type="text" placeholder="E-mail" class = "newsletter-input">
                    <button type = "submit" id = "newsletter-subscription" class = "newsletter-input">Enviar</button>
                </div>
            </section>
            <section id = "info-social-media" class = "flex-row flex-space-between border-bottom-grey">
                <section id = "info-lists" class = "flex-row flex-space-between">
                    <div class = "info-list">
                        <ul style="list-style: none;">
                            <li class ="text-bold"><a href = "#test">Masculino</a></li>
                            <li><a href = "#test">Camisetas</a></li>
                            <li><a href = "#test">Acessórios</a></li>
                            <li><a href = "#test">Camisas</a></li>
                            <li><a href = "#test">Bermudas</a></li>
                            <li><a href = "#test">Casacos</a></li>
                            <li><a href = "#test">Casacos</a></li>
                            <li><a href = "#test">Calças</a></li>
                        </ul>
                    </div>
                    <div class = "info-list">
                        <ul style="list-style: none;">
                            <li class ="text-bold"><a href = "#test">Explore</a></li>
                            <li><a href = "#test">Novidades</a></li>
                            <li><a href = "#test">Magazine</a></li>
                        </ul>
                    </div>
                    <div class = "info-list">
                        <ul style="list-style: none;">
                            <li class ="text-bold"><a href = "#test">Institucional</a></li>
                            <li><a href = "#test">Sobre Loja</a></li>
                            <li><a href = "#test">Dúvidas Frequentes</a></li>
                            <li><a href = "#test">Termos e Condições</a></li>
                            <li><a href = "#test">F.A.Q.</a></li>
                        </ul>
                    </div>
                </section>
                <section id = "social-media-icons">
                    <img src = "/Public/Images/Social-Media-Icons.png">
                </section>  
            </section>
            <section id = "rights-infos"  class = "flex-row flex-space-between">
                <h4>2022 Digital House. All rights reserved | CNPJ: 28.442.188/0001-47</h4>
                <img id = "locker-icon" src = "/Public/Images/Locker-icon.png">
            </section>  
        </footer>
    </body>
</html>